* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,700&display=swap");
}

body {
	font-family: "Poppins", sans-serif;
	display: flex;
	flex-flow: column;
	height: 100vh;
	background-color: black;
}

.nav-head {
	padding: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.nav-head > ul {
	display: flex;
	flex-direction: row;
}

.nav-head > ul > img {
	list-style: none;
	padding: 1rem;
	margin: 0.5rem;
}

/* BUTTON SYLING */
button {
	background: transparent;
	color: #4342d6;
	border: none;
	position: relative;
	height: 60px;
	margin-top: 2rem;
	padding: 1rem;
	cursor: pointer;
	transition: 800ms ease all;
	outline: none;
}
button:hover {
	background: transparent;
	color: #4342d6;
}
button:before,
button:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: #4342d6;
	transition: 400ms ease all;
}
button:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}
button:hover:before,
button:hover:after {
	width: 100%;
	transition: 800ms ease all;
}

/* hero styling */
.hero {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.box-1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	width: 50vw;
}

.hero-header {
	color: #c58c50;
	font-weight: 600;
	font-size: 4rem;
}

.text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 1rem;
}

.hero-text {
	color: white;
	font-size: 1.5rem;
	margin: 2rem;
}

.hero-text-2 {
	color: white;
	margin: 2rem;
	font-size: 1rem;
}

.hero-text-2 > p {
	text-align: center;
}

.box-2 {
	width: 50vw;
}

/* image infinite bob */
@keyframes MoveUpDown {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-40px);
	}
}

.box-2 > img {
	width: 100%;
	animation: MoveUpDown 2s linear infinite;
}

/* MEdia queries */

@media only screen and (max-width: 768px) {
	.hero {
		flex-direction: column;
	}

	.box-2 {
		width: auto;
	}
	.box-1 {
		width: auto;
		padding: 1rem;
		text-align: center;
	}
}
